{% extends "layout.html" %}
{% block styles %}
{% load staticfiles %}
<link href="{% static 'css/users.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>All Users</h1>
<div id="userList">
    
</div>
<div class="row">
<div class="col-sm-3 col-sm-offset-5">
<ul class="pagination">
    {% for i in total %}
        <li  value="{{ i }}"><a href="#">{{ i }}</a></li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/users.js' %}"></script>
{% endblock %}